{% extends 'youtube/base.html'%}
{%block title%}
<title>Easyvideo4u|About</title>
{%endblock title %}
{% block content%}
<div class="container" style="padding-bottom: 19%;width: 100%;margin-top:5%">
    <h2>About Us</h2>
    Easyvideos4u.com is a video downloader that focuses on free HD video services. You can find massive amount of video & music, and also download content from various websites, including Youtube, Facebook, Instagram and lot more. Easy, fast, and small, easyvideo4u.com is your best choice for video download!
</div>
{% endblock%}
